<%- include("header") -%>

<h1 style="color:darkblue"> About this App</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec porta felis sed justo mollis cursus. Suspendisse id gravida ante. Mauris bibendum dui eget convallis cursus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas sagittis ligula eget libero pretium, porta molestie ante auctor. Nulla porta efficitur purus quis maximus. Phasellus pellentesque massa sed lobortis dignissim. Aenean convallis sagittis erat, in pulvinar risus viverra ac. Praesent magna mi, egestas sed nisi in, rutrum fermentum tortor. Pellentesque eu varius quam. Cras molestie vulputate sagittis. Morbi ligula orci, placerat sed elit id, consectetur varius odio. Vivamus scelerisque iaculis enim pellentesque vehicula. Mauris lobortis lacus sed auctor ullamcorper. Nam feugiat rutrum laoreet.</p>

<%- include("footer") -%>